<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            text-align: center;
        }

        th{background-color: teal; color: white;}

        th, td{border: 1px solid; padding: 10px 5px;}
    </style>
</head>
<body>
    <div>
        <div>
            <h2 th:text="#{board.title}">게시판</h2>
        </div>

        <hr>

        <div>
            <div>
                <button type="button" onclick="location.href='home_logined.html'"
                th:onclick="|location.href='@{/home/logined}'|" th:text="#{board.home}">홈으로</button>
            </div>
            <div>
                <button type="button" onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/boards/add}'|" th:text="#{board.add}">글쓰기</button>
            </div>
        </div>

        <hr>

        <div>
            <h3 th:text="#{board.list}">게시글 목록</h3>
        </div>

        <div>
            <form th:object="${boardsRequest}">
                <label for="title" th:text="#{board.cond.title}">게시글 제목</label>
                <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요">

                <label for="title" th:text="#{board.cond.writer}">글쓴이</label>
                <input type="text" id="writer" th:field="*{writer}" placeholder="글쓴이를 입력하세요">

                <button type="submit" th:text="#{board.search}">검색</button>
            </form>
        </div>

        <p></p>

        <div>

            <label for="table" th:text="|총 ${boards.getTotalElements()}개의 결과가 나왔습니다|">총 개수</label>
            <table id="table">
                <thead>
                    <tr>
                        <th th:text="#{board.cond.num}">번호</th>
                        <th th:text="#{board.cond.title}">게시글 제목</th>
                        <th th:text="#{board.cond.writer}">글쓴이</th>
                        <th th:text="#{board.date}">작성날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards.getContent()}">
                        <td><a th:text="${board.boardId}">번호</a></td>
                        <td><a th:href="@{|/boards/${board.boardId}|}" th:text="${board.title}">제목</a></td>
                        <td><a th:href="@{|/member/${board.memberId}|}" th:text="${board.writer}">작성자</a></td>
                        <td><a th:text="${board.writtenDate}">작성날짜</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/boards(page = ${page - 1})}" th:text="${page}">번호</a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color : teal">번호</strong>
            </th:block>
        </div>
    </div>
</body>
</html>