<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <div>
        <h2 th:text="#{board.board.TITLE}">게시물 상세 페이지</h2>
    </div>

    <div th:if="${param.status}">
        <h3 th:text="'수정 완료'">수정완료</h3>
    </div>

    <hr>

    <div>
        <form method="post" th:action th:object="${response}">
            <div>
                <label for="boardId" th:text="#{board.board.boardId}">글번호</label>
                <input type="text" id="boardId" th:field="*{boardId}" readonly>
            </div>
            <div>
                <label for="writer" th:text="#{board.board.writer}">작성자</label>
                <input type="text" id="writer" th:field="*{writer}" readonly>
            </div>
            <div>
                <label for="title" th:text="#{board.board.title}">제목</label>
                <input type="text" id="title" th:field="*{title}" readonly>
            </div>
            <div>
                <label for="content" th:text="#{board.board.content}">내용</label>
                <textarea cols="50" rows="10" type="text" id="content" th:field="*{content}" readonly></textarea>
            </div>

            <hr>

            <div>
                <div th:if="${response.boardMemberId==response.loginMemberId}">
                    <button type="button" th:onclick="|location.href='@{|/boards/${response.boardId}/edit|}'|" th:text="수정">수정</button>
                </div>
                <div th:if="${response.boardMemberId==response.loginMemberId}">
                    <button type="submit" th:text="삭제">삭제</button>
                </div>
                <div>
                    <button type="button" th:onclick="|location.href='@{/boards}'|" th:text="뒤로">뒤로</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>